spring.datasource.url=jdbc:postgresql://localhost:5432/govac
spring.datasource.username=yourusr
spring.datasource.password=yourpw
spring.jpa.database-platform=com.govac.institutii.db.JSONBPostgreSQLDialect
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
flyway.url=${spring.datasource.url}
flyway.user=${spring.datasource.username}
flyway.password=${spring.datasource.password}
flyway.schemas=yourschema
flyway.locations=classpath:com.govac.institutii.dbmigrations
jwt.header=Authorization
jwt.secret=mySecret
jwt.expiration=604800
jwt.route.auth=auth
jwt.route.refresh=refresh